[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/magic67614290
[access "refs/for/refs/*"]
	read = group user/magic67614290
	push = group user/magic67614290
	label-Code-Review = -2..+2 group user/magic67614290
	label-Verified = -1..+1 group user/magic67614290
	rebase = group user/magic67614290
	removeReviewer = group user/magic67614290
	submit = group user/magic67614290
[access "refs/heads/*"]
	read = group user/magic67614290
	create = group user/magic67614290
	push = +force group user/magic67614290
	pushMerge = group user/magic67614290
[access "refs/tags/*"]
	push = group user/magic67614290
	push = +force group user/magic67614290
